.White {
  background-color: white;
  width: 70px;
  height: 70px;
  border-color: "grey";
  border-width: 4px;
}

.Black {
  background-color: green;
  width: 70px;
  height: 70px;
  color: white;
  border-color: "grey";
  border-width: 4px;
}

.Wrap {
  display: grid;
  grid-template-rows: repeat(8, 560px);
  grid-template-columns: repeat(8, 560px);
  padding: 200px;
  border-width: 20px;
  border-color: gold;
  /* grid-auto-rows: (560px);
grid-auto-columns: (560px) */
}

.whiteKing {
  background-color: White;
  width: 70px;
  height: 70px;
  background-image: url("../public/pnghut_chess-piece-queen-king-white-and-black-in-symbol.png");
  background-size: 60px 60px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /* background-position: infront; */

  border-color: "grey";
  border-width: 4px;
}

.greenKing {
  background-color: green;
  width: 70px;
  height: 70px;
  background-image: url("../public/pnghut_chess-piece-queen-king-white-and-black-in-symbol.png");
  background-size: 60px 60px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: infront;

  border-color: "grey";
  border-width: 4px;
}

.whiteRook {
  background-color: White;
  width: 70px;
  height: 70px;
  background-image: url("../public/pngwing.com.png");
  background-size: 60px 60px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /* background-position: infront; */

  border-color: "grey";
  border-width: 4px;
}

.greenRook {
  background-color: green;
  width: 70px;
  height: 70px;
  background-image: url("../public/pngwing.com.png");
  background-size: 60px 60px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: infront;

  border-color: "grey";
  border-width: 4px;
}

.whiteQueen {
  background-color: white;
  width: 70px;
  height: 70px;
  background-image: url("../public/pnghut_fairy-chess-piece-queen-king-knight.png");
  background-size: 60px 60px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: infront;
  border-color: "grey";
  border-width: 4px;
}

.whiteBishop {
  background-color: White;
  width: 70px;
  height: 70px;
  background-image: url("../public/bishop.png");
  background-size: 50px 50px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /* background-position: infront; */

  border-color: "grey";
  border-width: 4px;
}

.greenBishop {
  background-color: green;
  width: 70px;
  height: 70px;
  background-image: url("../public/bishop.png");
  background-size: 50px 50px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: infront;

  border-color: "grey";
  border-width: 4px;
}

.whitePawn {
  background-color: white;
  width: 70px;
  height: 70px;
  background-image: url("../public/—Pngtree—black chess pawn_6499090.png");
  background-size: 70px 70px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: infront;

  border-color: "grey";
  border-width: 4px;
}

.red {
  border-color: "grey" !;
  border-width: 4px!;
}
.greenPawn {
  background-color: green;
  width: 70px;
  height: 70px;
  background-image: url("../public/—Pngtree—black chess pawn_6499090.png");
  background-size: 70px 70px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: infront;

  border-color: "grey";
  border-width: 4px;
}
